<div class="col-xs-12 col-sm-6 pull-right figure">
  <table class="table table-striped table-hover table-bordered">
    <tr>
      <td><b>Lectures</b></td>
      <td>Tuesday/Thursday 4pm-5:50pm <b>MS 5200</b></td>
    </tr>
    <tr>
      <td><b>Discussion Sections</b></td>
      <td>
        DIS 1: Friday 4-5:50pm, <b>BH 2760</b> (Seungbae Kim)<br/>
        DIS 2: Friday 2-3:50pm, <b>BH 2760</b> (Yingdi Yu)<br/>
        DIS 3: Friday 2-3:50pm, <b>Bunche 3211</b> (Sakshi Goplani)<br/>
      </td>
    </tr>
    <tr>
      <td><b>Instructor</b></td>
      <td>
        Alex Afanasyev (aa at cs dot ucla dot edu)</a>
      </td>
    </tr>
    <tr>
      <td><b>Office hours</b></td>
      <td>Tuesdays 6-7pm, Thursdays 2:30-3:30pm, <b>BH 4532B</b>,<br/>
          or appointment by email</td>
    </tr>
    <tr>
      <td><b>TAs</b></td>
      <td>
        Yingdi Yu (yingdi at cs dot ucla dot edu): Mondays 5-7pm, <b>BH 4805</b><br/>
        Seungbae Kim (sbkim at cs dot ucla dot edu): Thursdays 1-3pm, <b>BH 2432</b><br/>
        Sakshi Goplani (sakshigoplani at cs dot ucla dot edu): <b>TBD</b><br/>
      </td>
    </tr>
    <tr>
      <td><b>Midterm</b></td>
      <td>Thursday, April 28, 2016, 4-5:50pm, <b>MS 5200</b></td>
    </tr>
    <tr>
      <td><b>Final</b></td>
      <td>Monday, June 6, 2016, 6:30pm-9:30pm, <b>TBD</b></td>
    </tr>
  </table>
</div>
